
.relative{
    background-color: red;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
/*
img{
    position: relative;
    top: 55px;
    left: 35px;
}
*/

img{
    position: static;
    top: 50%;
    left: 50%;
    z-index: 1;
}
p{
    position: relative;
    z-index: 2;
}