*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1{
    color: white;
}

div{
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: red;
    border: 5px solid black;
    box-sizing: content-box;
}