.container{
    width: 960px;

    margin: 0 auto;
    border: 1px solid black;
    padding: 2em;
}

#content{
    overflow: auto;
}

#post{
    background-color: blue;
    width: 560px;
    height: 300px;
    float: left;
}
#sidebar{
    background-color: red;
    width: 400px;
    height: 300px;
    float: right;
}
/*
.clear{
    clear: both;
}
*/