h1 {
    color: red;
    background: yellow;
}

h2 {
    color: blue;
    background: pink;
}

h3 {
    color: black;
    background: white;
}

h4 {
    color: aqua;
    background: green;
}

h5 {
    color: blueviolet;
    background: green;
}

h6 {
    color: blue;
    background: brown;
}

p {
    background: orange;
}

div {
    background: yellow;
    color: blue;
}